.navbar {
  display: flex;
  background-color: #003366;
  padding: 1em;
}


.list {
  display: flex;
  list-style-type: none;
  align-items: center;
  margin-left: auto;
  font-weight: bold;
}

.item {
  margin-right: 1em;
  color: #ffff;
}


.logout_button{
  color: #003366;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  background-color: #efefef;
  padding: 0.5em 1em;
  text-decoration: none;
  margin-left: 1em;
  border: none;

}


