.message {
  position: fixed;
  top: 90px; 
  right: 20px;
  width: 320px; 
  padding: 15px;
  margin: 0; 
  border-radius: 5px;
  border: 1px solid transparent;
  z-index: 1000; 
}

.message_success {
  color: #155724; 
  background-color: #d4edda; 
  border: 1px solid #c3e6cb;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  font-size: 16px;
  position: relative;
  font-weight: bold;
}

.message_error {
  color: #dc3545; 
  background-color: #f8d7da; 
  border: 1px solid #f5c6cb; 
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  font-size: 16px;
  position: relative;
  font-weight: bold;
}