.title_finance{
  font-size: 22px;
  color: #bbbbbb;
}

.value_salary {
  font-weight: bold;
  font-size: 28px;
  color: #004080;
}

.add_button  {
  justify-content: end;
  display: flex;
  gap: 15px; 
  margin-bottom: 1em;
}

