.container_login_signup {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_title {
  font-size: 25px;
  margin-bottom: 15px;
  text-align: center;
  color:#004080;
}

.login_signup_form{
  width: 360px;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  padding: 34px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.login_input {
  outline: 0;
  background: #ffffff;
  width: 100%;
  border: 2px solid #e6e6e6;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  transition: all 0.3s;
  border-radius: 5px;

}

.btn_login {
  outline: 0;
  background: #004080;
  border: 0;
  text-decoration: none;
  padding: 13px;
  color: #FFFFFF;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  max-width: 180px; 
  text-align: center;
  margin-bottom: 1em;
}

.text_register {
  text-decoration: none;
  color: #b3b3b3;
  font-size: 16px;
  text-align: center;
}

.link_register {
  color: #004080;
  text-decoration: none;
}
