.add_button {
  background-color: #155724;
  color: white;
  text-align: center;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  text-decoration: none;
  font-weight: bold;
  display: flex;
}