.buttons  {
  justify-content: end;
  display: flex;
  gap: 15px; 
  position: relative;
}

.buttons_table {
  justify-content: center;
  display: flex;
  gap: 15px; 
  position: relative;
}

.green_button {
  background-color: #155724;
  color: white;
  text-align: center;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  border: none;
}


.red_button {
  background-color: #dc3545; 
  color: white;
  text-align: center;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  border: none;

}

.orange_button {
  background-color: #fd7e14; 
  color: white;
  text-align: center;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  border: none;
  
}


